<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">

  <title>Tracy Kaur. A web developer and promoter of women in tech.</title>

</head>

<body>
<section class="responsive">
  <div class="nav-container">
    <div class="nav">
      <a href="/">Home</a>
      <a href="about">About</a>
      <a href="projects">Projects</a>
      <a href="#footer">Follow</a>
    </div>
  </div>


  <div class="header">
    <div class="wrapper">
      <%= image_tag "TK Logo.svg", class: "logo", alt: "Logo"%>
      <%= image_tag "TK Logo Text.svg", class: "logo name", alt: "Logo Name"%>

    </div>
  </div>

  <div class="developer">
    <p> I'm a Full Stack Web Developer on a mission to help empower a more diverse range of tech engineers to enter and remain in tech.</p>
  </div>

  <%=yield %>


  <div class="footer-container" id="footer">
    <div class="footer">
      <div class="tweet"> <%= link_to "https://twitter.com/tracykaur", target: :_blank do %> <%= image_tag "002-social-network.svg", class: "tweet", alt: "Twitter" %> <% end %>
      </div>
      <div class="linkedin"> <%= link_to "https://www.linkedin.com/in/tracy-kaur-31797692/", target: :_blank do %> <%= image_tag "003-linkedin-logo.svg", class: "linkedin", alt: "linkedin" %> <% end %>
      </div>
      <div class="github"> <%= link_to "https://github.com/tracykaur", target: :_blank do %> <%= image_tag "001-square.svg", class: "github", alt: "github" %> <% end %>
      </div>
      <div class="medium"> <%= link_to "https://medium.com/@tracykaur", target: :_blank do %> <%= image_tag "medium.svg", class: "github", alt: "medium" %> <% end %>
      </div>
      <div><a href="http://www.freepik.com" title="Freepik"></a><a href="https://www.flaticon.com/" title="Flaticon"></a><a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank"></a>
      </div>
    </div>
  </div>
</section>
</body>
</html>
